.header_wrap {
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 100px;
    
    
}

.header_wrap > img:nth-child(1) {
    width: 32px;
    height: 30px;
    object-fit:contain;
}

.header_wrap > img:nth-child(2) {
    width: 170px;
    height: 50px;
    object-fit:contain;
}

.gnb {
    display: flex;
    color : #7C6555;
    font-size: 16px;
    font-family:"Cinzel";
    justify-content: flex-end;
    
}

.gnb > p:nth-child(2) {
    margin-left: 20px;
}

/* header end--------------------------------------------- */

.section_1 { 
    padding:0 0;   
}


/* section1 end--------------------------------------------- */

.sec2_title {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 40px;
}


.section_2 > .con_wrap {
    display: flex;
    justify-content: space-between;
}

.sec2_con_box {
    width: 23.5%;   
}

/* section2 end------------------------------------------------ */

.section_3 {
    display: flex;
    justify-content: space-between;
    background-color: #FFF6F1;
    
    position: relative;
}

.section_3 > .container > h3 {
    margin-bottom: 50px;
}

.section_3 > .container {
    padding-right: 10px;
}

.mo {
    display: none;
}

.sec3_img {
    width: 600px;
    border-radius: 20px;
}

.doc_name {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
}

.doc_name > img {
    width: 80px;
    margin-left: 15px;
}



.container > p {
    font-size: 16px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
    
}

.sec3_back {
    width: 330px;
    height: 360px;
    background-image: url(../img/sec_2_4/sec3_back.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

    position: absolute;
    bottom: 45px;
    left: 100px;

}

.section_3 > .container > .more {
    position: absolute;
    z-index: 2;
}

/* section3 end------------------------------------------------ */

.sec4_container > h3 {
    margin-bottom: 40px;
}

.sec4_con_wrap {
    display: flex;
    justify-content: space-between;
}

.sec4_con_box {
    width: 19%;
}

.sec4_text_box > h2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top : 10px;  
}

.sec4_container > .more {
    display: none;
}
/* section4 end------------------------------------------------ */

.section_5 {
    background-color: #FAF8F6;
    overflow: hidden;
}

.sec5_container > h3 {
    margin-bottom: 40px;
}

.sec5_container {
    margin: 0 auto;
}

.sec5_con_wrap {
    display: flex;
    cursor: grab;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 10px;
    
}
    .sec5_con_box {
    flex: 0 0 calc(24% - 10px); 
    display: flex;
    flex-direction: column;
    
}

.sec_5_img_box {
    width:100%;
    overflow: hidden;    
}

.sec_5_img_box img {
    width: 100%;

    object-fit: cover; 
    transition: transform 0.4s ease; 
    pointer-events: none; 
    display: block;
}

.sec_5_text_box {
    text-align: center;
}

.sec_5_text_box p {
    font-size: 18px;
    margin-top: 10px;
}

.sec5_con_box:hover .sec_5_img_box img {
    transform: scale(1.06); 
}



/* section5 end------------------------------------------------ */


.sec6_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sec6_container {
    display: flex;
    align-items: center;
    text-align: center;
}

.sec6_con_box {
    width: 32%;
}

.sec6_con_box:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.sec6_con_box > img {
    border-radius: 30px; 
}

.sec6_con_box > p {
    margin-top:10px;
    font-size: 18px;
}
/* section6 end------------------------------------------------ */

.section_7 {
    background-color: #FAF8F6;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    
}

.sec7_container p {
    line-height: 2;
}

.sec7_container > h3 {
    margin-bottom: 40px;
}

.sec7_container > h5 {
    font-size: 50px;
    font-family: 'Cinzel';
    color:#7C6555;
    margin : 20px 0;
}

.bottom-line {
    border-top: 2px solid #7C6555;
    margin-bottom: 20px;
}

.sec7_con {
    margin-bottom: 40px;
}

.sec7_con_box {
    display: flex;
    margin-bottom: 10px;
}

.sec7_con .day {
    width: 100px;
}

.sec7_con .time {
    letter-spacing: 1px;
}

.sec7_container > h1 {
    font-size: 16px;
    font-weight: 300;
    color : #7E7E7E;
}

.map {
    margin-left: 20px;
}

.map > img {
    border-radius: 30px;
    
}

/* section7 end------------------------------------------------  */

.footer {
    background-color: #39322C;
}

.footer_container {
    text-align: center;
    font-size : 16px;
    color:#AF8D74;
    font-family: 'Cinzel';
}

.footer_container > img {
    width: 170px;
    margin: 0 auto;   
}

.footer_wrap {
    color : #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 2;
}

.bar { 
    margin: 0 15px;
}

/* footer end------------------------------------------------  */





@media screen and (max-width: 1500px) {
.header_wrap {
    height: 70px;
    padding : 0 50px;
}

.header_wrap > img:nth-child(2) {
    width: 10vw;
    height: 6vw;
}
/* header end------------------------------------------------------------- */


.section_3 > .container > .more {
    position: relative;
}


.sec4_con_wrap > .sec4_con_box > h2 {
    font-size: 18px;
}


/* section4 end------------------------------------------------------------- */

/* section6 end------------------------------------------------------------- */

}




@media screen and (max-width: 1024px){
    .section_2 > .con_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .sec2_con_box{
        width: 49%;        
    }
    
     .sec2_con_box:nth-child(3) {
        margin-top: 20px;
    }
    .sec2_con_box:nth-child(4) {
        margin-top: 20px;
    }

/*     section_2 end----------------------------------------------- */

    .section_3 {
    flex-direction: column;
    }

    .section_3 > .container > h3 {
    margin-bottom: 35px;
    }

    .sec3_back {
    display: none;
    }

    .pc {
    display: none;
    }

    .mo {
    display:block;
    
    }

    .sec3_img {
        width: 90%;
        margin-top : 20px;
    }

    .doc_name > img {
    width: 59px;
    margin-left: 3px;
    }

/*     section_3 end----------------------------------------------- */



    .sec4_text_box > h2 {
    font-size: 16px;
    }

    .sec4_container > .more {
        display: flex;
        margin : 0 auto;
        margin-top : 40px;
        
    }

    .sec4_con_wrap > .sec4_con_box:nth-child(5) {
        display: none;
    }

    .sec4_con_box {
    width: 24%;
    }


/* section4 end------------------------------------------------ */

    .sec5_con_box {
    flex: 0 0 calc(49% - 10px); 
    }

    .sec_5_text_box > p {
    font-size: 16px;
    }

/* section5 end------------------------------------------------ */ 




    .sec6_container {
    flex-direction: column;
    }

    .sec6_con_box {
        width: 100%;
        margin-top : 40px;
    }

    .sec6_con_box {
        width: 100%;
        margin-top : 40px;
    }


    .sec6_con_box > p {
    margin-top:15px;
    font-size: 16px;

    }

    .sec6_con_box:nth-child(1) {
    margin-top : 0;
    }

/* section6 end------------------------------------------------ */

    .section_7 {
        font-size: 14px;
    }

    .sec7_container > h5 {
        font-size : 40px;
    }

    .sec7_container > h1 {
        font-size : 13px;
    }
/* section7 end------------------------------------------------ */

    .footer_container {
    font-size : 14px;
    }

    .footer_container > h2 {
    font-size: 14px;
    }





}



@media screen and (max-width: 950px) {


    .sec4_con_wrap > .sec4_con_box:nth-child(4) {
        display: none;
    }

    .sec4_con_box {
    width: 32%;
    }

    .sec4_con_wrap > .sec4_con_box > h2 {
    font-size: 16px;
    margin-top: 10px;
    
    }
    

    .sec4_container > .more {
        margin-top: 55px;
    }

    .map > img {
        width: 95%;
        margin-left: 5%;
    }


/* section4 end------------------------------------------------ */




}







@media screen and (max-width: 768px) {

.header_wrap {
    padding : 0 3vw;
}

.gnb > p:nth-child(2) {
    display: none;
}

.header_wrap > img:nth-child(1) {
    width: 28px;
    height: 20px;
}

.header_wrap > img:nth-child(2) {
    width: 120px;
    height: 34px;
}

.gnb {
    font-size: 14px;    
}
/* header end--------------------------------------------- */

.section_1 {
    height: 80vh;
}

/* section1 end--------------------------------------------- */


    .section_2 > .con_wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin : 0 auto;

     
    }

    .section_2 > .con_wrap >.sec2_con_box {
        width: 100%;
        
        
    }

    .section_2 > .con_wrap > .sec2_con_box:nth-child(2) {
    margin-top : 20px;
    }

    .sec2_con_box:nth-child(3) {
    display: none;
    }

    .sec2_con_box:nth-child(4) {
    display: none;
    }

/* section2 end--------------------------------------------- */

    .sec3_img {
    width: 100%
    }

    .mo > .mo_br {
        display: none;
    }
/* section3 end--------------------------------------------- */


    .sec4_con_wrap > .sec4_con_box:nth-child(3) {
        display: none;
    } 

    .sec4_con_box {
        width: 49%;
    }


    

/* section4 end------------------------------------------------ */

.map > img {
    display: none;
}

.sec7_container > p > .pc_br {
    display: none;
}






}



